<%# Our "base" layout should be a valid HTML document. %>
<!DOCTYPE html>
<html>
  <head>
    <!-- Stylesheets & Scripts -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">

    <title>Rotten Potatoes!</title>

    <%# Only show the ratings/sort form on Movies#index; avoid nil instance vars elsewhere %>
    <% if controller_name == 'movies' && action_name == 'index' %>
      <%= form_tag movies_path, method: :get, id: 'ratings_form', local: true, class: "mb-3" do %>
        <%# Safe fallbacks so .each / .include? never run on nil %>
        <% all_ratings     = @all_ratings || (defined?(Movie) ? Movie.all_ratings : []) %>
        <% ratings_to_show = @ratings_to_show || all_ratings %>

        <div class="d-flex flex-wrap align-items-center gap-3">
          <div class="me-3">
            <strong>Include:</strong>
            <% all_ratings.each do |rating| %>
              <div class="form-check form-check-inline">
                <%= check_box_tag "ratings[#{rating}]", "1",
                      ratings_to_show.include?(rating),
                      id: "ratings_#{rating}",
                      class: 'form-check-input' %>
                <%= label_tag "ratings_#{rating}", rating, class: 'form-check-label ms-1' %>
              </div>
            <% end %>
          </div>

          <div class="me-3">
            <label class="form-label me-2" for="sort_by">Sort by:</label>
            <%= select_tag :sort_by,
                          options_for_select([["Title", "title"],
                                              ["Release date", "release_date"]],
                                              @sort_by),
                          id:    "sort_by",
                          class: "form-select d-inline w-auto" %>
          </div>

          <div>
            <%= submit_tag "Refresh", id: "ratings_submit", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    <% end %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg bg-primary text-white mb-3">
      <h1 class="title m-2">Rotten Potatoes!</h1>
    </nav>

    <!-- Page Content -->
    <div class="container">
      <%# Render "flash" messages (loads _flash.erb) %>
      <%= render 'layouts/flash' %>

      <main id="main">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
